[submodule "thirdparty/csv-parser"]
	path = thirdparty/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "thirdparty/GSL"]
	path = thirdparty/GSL
	url = https://github.com/microsoft/GSL.git
