.bd-page-width,
.bd-main .bd-content .bd-article-container {
  max-inline-size: none;
}

.mermaid {
  max-inline-size: 100%;
  overflow-x: auto;
  text-align: center;
}

.mermaid > svg {
  max-inline-size: 100%;
}
